* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

input {
    all: unset;
}

/* --- body --- */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F5F5F5;;
}

/* --- header --- */

header {
    position: fixed;
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
}

.logo {
    padding-left: 140px;
}

a {
    all: unset;
}

ul a{
    color: #545454;
}

ul a:hover {
    cursor: pointer;
    color: #020202;
    transition: .2s;
}

.links {
    display: flex;
    padding-right: 169px;
    font-size: 14px;
}

li {
    list-style: none;
}

.links ul {
    margin-left: 48px;
}

/* --- content --- */

.content {
    display: grid;
    grid-template-columns: 730px 380px;
    column-gap: 50px;
    padding: 126px 140px 64px 140px;
}

.main {
    display: grid;
    grid-template-rows: 696px 696px 696px;
    row-gap: 40px;
}

.post, .sidebar {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.sidebar {
    height: 1396px;
}

/* --- main --- */

.post {
    display: flex;
    flex-direction: column;
}

.title {
    padding: 24px 0 8px 24px;
    font-size: 24px;
    line-height: 33px;
}

.subtitle {
    padding-left: 24px;
    font-size: 12px;
    line-height: 16px;
    color: #929292;
}

.img-post {
    margin: 14px 0 24px 0;
}

.text {
    margin: 0 24px 24px 24px;
    font-size: 14px;
    color: #545454;   
}

a {
    align-self: flex-end;
}

button {
    width: 154px;
    margin-right: 24px;
    border: 1px solid #FE0078;
    box-sizing: border-box;
    border-radius: 20px;
    color: #545454;
    padding: 12px 24px;
    background-color: transparent;

}

.read:hover {
    color: #FFFFFF !important;
    background-color: #FE0078;
    cursor: pointer;
    transition: .5s;
}

/* --- aside --- */

aside {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 40px 20px;
}

.search {
    height: 52px;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0 20px 0 20px;
    font-size: 14px;
    color: #545454;   
}

.search:hover {
    border: 1px solid #FE0078;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;

}

.category {
    margin-top: 25px;
}

.tag {
    border-left-style: solid;
    border-color: #FE0078;
    padding-left: 11px;
    font-size: 18px;
    line-height: 25px;
}

.list {
    margin-top: 35px;
}

.list ul {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px dashed #EEEEEE;
    width: 340px;
    height: 35px;
    margin-top: 16px;
}

.list ul:hover {
    color: #FE0078;
    border-bottom: 2px dashed #FE0078;
    transition: .3s;
    cursor: pointer;

}
.publicity {
    margin-top: 40px;
}

.spaces {
    display: grid;
    place-content: center;
    margin-top: 35px;
    background-color: #EEEEEE;
    color: #545454;
    font-size: 36px;
    line-height: 49px;
    height: 240px;
}


/* --- footer --- */

footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    align-items: center;
    font-size: 14px;
    background-color: #222222;
    color: #FFFFFF;
    height: 70px;
}